<!--Será el parcial de amigos-->

<div class="barra-lateral col-sm-12 col-md-2">
    <div class="logo">
        <h3>Amigos</h3>
        <input id="mySelf" name="mySelf" type="hidden">
    </div>
    <div class="container">
        <div class="row">
            <nav class="menu d-fex d-sm-block justify-content-center flex-wrap" id="navAmigos">
            </nav>
        </div>
    </div>
</div>