<!--Será el parcial de amigos-->

<div class="barra-lateral col-sm-12 col-md-2" >
    <div class="logo">
        <h2>Amigos</h2>
        <input id="mySelf" name="mySelf" type="hidden">
    </div>
    <nav class="menu d-fex d-sm-block justify-content-center flex-wrap" id="navAmigos">
        <div><img src="imagenes/online.png" class="redondaOnline" alt="Amigo 1" id="status"><span>Amigo 1</span></div>
        <div><img src="imagenes/offline.png" class="redondaOffline" alt="Amigo 2" id="status"> <span>Amigo 2</span></div>
        <div><img src="imagenes/offline.png" class="redondaOffline" alt="Amigo 3" id="status"> <span>Amigo 3</span></div>
    </nav>
</div>
