<!--Será el parcial de amigos-->

        <div class="barra-lateral col-sm-12 col-md-2" >
            <div class="logo">
                <h2>Amigos</h2>
            </div>
            <nav class="menu d-fex d-sm-block justify-content-center flex-wrap">
                <div>foto <span>Amigo 1</span></div>
                <div>foto <span>Amigo 2</span></div>
                <div>foto <span>Amigo 3</span></div>
                <div>foto <span>Amigo 4</span></div>
                
            </nav>
        </div>