<footer>
    <h6 class="text-center">Conoce a los creadores</h6>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <img class="cardPhoto" src="imagenes/samuel.jpg" class="float-left rounded-circle">
                        <div class="message">
                            <h5 class="card-title">Samuel Julian Villarreal Marquez</h5>
                            <h6 class="card-subtitle mb-2 text-muted">INCO</h6>
                            <p class="card-text">Developer.</p>
                        </div>
                        <div class="actions">
                            <a href="https://www.facebook.com/samueljulian.villarrealmarquez" class="card-link">Contact</a>
                            <a href="mailto:samueljulianvillarrealmarquez@gmail.com" class="card-link">Correo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <img class="cardPhoto" src="imagenes/baldo.jpg" class="float-left rounded-circle">
                        <div class="message">
                            <h5 class="card-title">Juan Oswaldo Cadena Perez</h5>
                            <h6 class="card-subtitle mb-2 text-muted">INCO</h6>
                            <p class="card-text">Developer.</p>
                        </div>
                        <div class="actions">
                            <a href="https://www.facebook.com/baldo61" class="card-link">Contact</a>
                            <a href="mailto:baldo6161@gmail.com" class="card-link">Correo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <img class="cardPhoto" src="imagenes/ortega.jpg" class="float-left rounded-circle">
                        <div class="message">
                            <h5 class="card-title">Alejandro Ortega Rosas</h5>
                            <h6 class="card-subtitle mb-2 text-muted">INCO</h6>
                            <p class="card-text">Developer.</p>
                        </div>
                        <div class="actions">
                            <a href="https://www.linkedin.com/in/alejandro-ortega-rosas-23011997/" class="card-link">Contact</a>
                            <a href="mailto:ortega4414@gmail.com" class="card-link">Correo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--<script src="css/js/jquery-3.3.1.min.js.js"></script>-->
<script src="css/js/jquery-3.3.1.min.js.js"></script>
<script src="css/js/jquery.dataTables.min.js"></script>
<script src="css/js/bootstrap.min.js"></script>
<script src="css/js/popper.min.js"></script>