    <script src="js/getUserConected.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/socket-chat-render.js"></script>
    <script src="js/socket-custom.js"></script>
</body>
</html>
