<nav class="navbar navbar-expand-md navbar-dark bg-dark  navegador  d-none d-lg-block azulhover">	
    <div class="container azulhover">
            <a class="navbar-brand" href="/admin"><img class="Pollo" id="pollo" href="/admin" src="imagenes/polloperron1.png" alt="BorderOut Logo">BorderOut</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-nav  nav-fill" id="navbar">

                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Agregar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Categorías </a>
                    <a class="dropdown-item" href="#">Palabras </a> 
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Modificar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Categorías </a>
                    <a class="dropdown-item" href="#">Palabras </a> 
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Palabras usuario</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ver Quejas</a>
                </li>
                <li class="form-inline my-2 my-lg-0 nav-item active">
                    <a class="nav-link" href="#">Salir</a>
                </li>

            </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark  d-block d-lg-none">
        <a class="navbar-brand" href="/admin"><img class="Pollo" id="pollo" href="/admin" src="imagenes/polloperron1.png" alt="BorderOut Logo">BorderOut</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Agregar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Categorías </a>
                    <a class="dropdown-item" href="#">Palabras </a> 
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Modificar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Categorías </a>
                    <a class="dropdown-item" href="#">Palabras </a> 
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Palabras usuario</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ver Quejas</a>
                </li>
                <li class="form-inline my-2 my-lg-0 nav-item active">
                    <a class="nav-link" href="#">Salir</a>
                </li>
            </ul>
        </div>
    </nav>