
<nav class="navbar navbar-expand-md navbar-dark bg-dark  navegador  d-none d-lg-block azulhover">
    <div class="container azulhover">
            <a class="navbar-brand" href="/videos"><img class="Pollo" id="pollo" href="/videos" src="imagenes/polloperron1.png" alt="BorderOut Logo">BorderOut</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse navbar-nav  nav-fill" id="navbar">

                <li class="nav-item active">
                    <a class="nav-link" href="/videos">Videos </a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mis palabras
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/addPalabra">Agregar palabra</a>
                    <a class="dropdown-item" href="#">Palabras actuales</a>
                    <a class="dropdown-item" href="/myWords">Palabras agregadas</a>
                    <a class="dropdown-item" href="/palabras_aprendidas">Palabras aprendidas</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/ampliarVocabulario">Ampliar vocabulario  </a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jugar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/practica">Practicar</a>
                <a class="dropdown-item" href="#">Crear sala de juego</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Amigos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/findFriend">Buscar un amigo</a>
                <a class="dropdown-item" href="#">Solicitudes de amistad </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Quejas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Configurar">Configurar</a>
            </li>
            <li class="form-inline my-2 my-lg-0 nav-item active">
                <a class="nav-link" href="#">Salir</a>
            </li>

            </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark  d-block d-lg-none">
        <a class="navbar-brand" href="/videos"><img class="Pollo" id="pollo" href="/videos" src="imagenes/polloperron1.png" alt="BorderOut Logo">BorderOut</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/videos">Videos </a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mis palabras
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/addPalabra">Agregar palabra</a>
                    <a class="dropdown-item" href="#">Palabras actuales</a>
                    <a class="dropdown-item" href="/myWords">Palabras agregadas</a>
                <a class="dropdown-item" href="/palabras_aprendidas">Palabras aprendidas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/ampliarVocabulario">Ampliar vocabulario  </a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Jugar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/practica">Practicar</a>
                <a class="dropdown-item" href="#">Crear sala de juego</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Amigos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Buscar un amigo</a>
                <a class="dropdown-item" href="#">Solicitudes de amistad </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Quejas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Configurar Perfil</a>
            </li>
            <li class="form-inline my-2 my-lg-0 nav-item active">
                <a class="nav-link" href="#">Salir</a>
            </li>
        </div>
    </nav>
