{{> head}}
{{> navbar}}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <main class="main principal columna col-sm-12 col-md-6">
          <div id="htmlToChange">
             <h1 class="text-center">Tus solicitudes</h1>
             <div  id="tabla">
            </div>
          </div>
        </main>
        <div class="col-md-2"></div>
        {{> amigos}}
    </div>
</div>
{{> footer}}
<script src="js/acceptRequest.js"></script>
{{> librerias}}
