{{> head}}
{{> navbar}}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <main class="main principal columna col-sm-12 col-md-6">
          <div id="htmlToChange">
             <h1 class="text-center">Agregar Palabra</h1>
             <form action="/addWord" method="POST" onsubmit="return validarAgregarPalabra()">
                <div class="form-group">
                    <label for="pespanol">Palabra en español:</label>
                        <input type="text" name="pespanol" class="form-control" placeholder="Palabra en español" id="pespanol">
                        <label class="text-center"  id="mensajeCaracterInvalidoEspanol" style="color:red; visibility:hidden;">Este campo tiene un caracter invalido</label>
                        <br>
                        <label for="pingles">Palabra en ingles:</label>
                        <input type="text" name="pingles" class="form-control" placeholder="Palabra en ingles" id="pingles">
                        <label class="text-center"  id="mensajeCaracterInvalidoIngles" style="color:red; visibility:hidden;">Este campo tiene un caracter invalido</label>
                    <!--	<label for="pcategoria">Categoria de palabra:</label>
                        <select class="form-control" name="categoria"></select>
                        <label for="ptipo">Tipo de palabra:</label>
                        <select class="form-control" name="tipo"></select>-->
                        <br>
                        <div class="col">
                        <button class= "btn btn-success btn-md btn-block " type="submit" id="btn-success" name="btn-success" >AGREGAR</button>
                        </div>
                </div>
             </form>
           </div>
        </main>
        <div class="col-md-2"></div>
        {{> amigos}}
    </div>
</div>
{{> footer}}
<script src="js/validarIndex.js"></script>
<script src="js/validarAgregarPalabra.js"></script>
{{> librerias}}
