{{> head}}
{{> nabarAdmin}}    
<div class="container-fluid">
    <div class="row">


        <main class="main principal columna col-sm-12 col-md-10">
            <div class="widget nueva_entrada">
                <h3 class="titulo">Agegar categoria</h3>
            </div>
        </main>


        {{> amigos}}
    </div>
</div>
{{> footer}}
{{> librerias}}