{{> head}}
{{> navbar}}    
<div class="container-fluid">
    <div class="row">
        <main class="main principal columna col-sm-12 col-md-10">
            <div class="container">
                <!--Fila del titulo-->
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="widget nueva_entrada">
                            <h3 class="titulo text-center">Selecciona una categoría</h3>
                        </div>
                    </div>
                    <div class="col-2">
                            <!--<button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" >Listo</button>-->
                            <!--<button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" >Listo</button>-->
                            <!--<button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" >Listo</button>-->
                            <!--<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" >Listo</button>-->
                            <!--<button type="button" class="btn btn-outline-link btn-sm" data-toggle="modal" >Listo</button>-->
                </div>
                
                <!--Fila de las categorias-->
                <div class="row categorias" id="categorias">
                    

                    
                      
                </div>
            </div>
        </main>
        {{> amigos}}
    </div>
</div>


{{> footer}}
<script src="js/renderizarCategorias.js"></script>
{{> librerias}}