{{> head}}
{{> navbar}}    
<div class="container-fluid">
    <div class="row">
        <main class="main principal columna col-sm-12 col-md-10">
            <div class="container">
                <!--Fila del titulo-->
                <div class="row justify-content-center align-items-center">
                    <div class="col-10">
                        <div class="widget nueva_entrada">
                            <h3 class="titulo text-center">Selecciona una categoría</h3>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="widget nueva_entrada">
                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" >Listo</button>
                            <!--<button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" >Listo</button>-->
                            <!--<button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" >Listo</button>-->
                            <!--<button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" >Listo</button>-->
                            <!--<button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" >Listo</button>-->
                            <!--<button type="button" class="btn btn-outline-link btn-sm" data-toggle="modal" >Listo</button>-->
                        </div>
                    </div>
                </div>
                
                <!--Fila de las categorias-->
                <div class="row">
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="card card-body text-center justify-content-center align-items-center escala">
                            <img src="/imagenes/categorias/default.PNG" border="1" alt="Error en la imagen" width="150" height="150">
                            <p>Categoria 1</p>
                        </div>
                    </div>
                      
                </div>
            </div>
        </main>
        {{> amigos}}
    </div>
</div>
<script src="js/renderizarCategorias.js"></script>

{{> footer}}