{{> head}}
{{> navbar}}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <main class="main principal columna col-sm-12 col-md-6">
             <h1 class="text-center">Configuración</h1>
             <label class="text-center">Modifica los datos de tu elección</label>
             <br>
             <form action="/changeUserData" method="POST">
               <label class="text-center">Nombre de usuario: </label>
               <input class="form-control" type="text" name="username" placeholder="" id="username">
               <label class="text-center">Nombre:</label>
               <input class="form-control" type="text" name="nombre" placeholder="" id="nombre">
               <label class="text-center">Apellido paterno:</label>
               <input class="form-control" type="text" name="paterno" placeholder="" id="paterno">
               <label class="text-center">Apellido materno:</label>
               <input class="form-control" type="text" name="materno" placeholder="" id="materno">
               <label class="text-center">Contraseña:</label>
               <input class="form-control" type="text" name="contra" placeholder="" id="contra">
               <div class="col">
                 <br>
                 <button class= "btn btn-success btn-md btn-block " type="submit" id="btn-changeUserData" name="btn-changeUserData" >Modificar datos</button>
               </div>
             </form>
             <br>
             <label class="text-center">Subir nueva foto de perfil:</label>
             <input class="form-control" type="file" name="foto" id="foto" accept="image/png, image/jpeg">
        </main>
        <div class="col-md-2"></div>
        {{> amigos}}
    </div>
</div>
{{> footer}}
<script src="js/getUserData.js"></script>
<script src="js/uploadFile.js"></script>
{{> librerias}}
