{{> head}}
{{> navbar}}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <main class="main principal columna col-sm-12 col-md-6">
          <div id="htmlToChange">
             <h1 class="text-center">Configuraci칩n</h1>
             <label class="text-center">Modifica los datos de tu elecci칩n</label>
             <br>
             <form action="/changeUserData" method="post" onsubmit="return validar()">
               <label class="text-center">Nombre:</label>
               <input class="form-control" type="text" name="nombre" placeholder="" id="nombre" autocomplete="off">
               <label class="text-center"  id="mensajeCaracterInvalidoNombre" style="color:red; visibility:hidden;">Este campo tiene un caracter invalido</label>
               <br>
               <label class="text-center">Apellido paterno:</label>
               <input class="form-control" type="text" name="paterno" placeholder="" id="paterno" autocomplete="off">
               <label class="text-center"  id="mensajeCaracterInvalidoPaterno" style="color:red; visibility:hidden;">Este campo tiene un caracter invalido</label>
               <br>
               <label class="text-center">Apellido materno:</label>
               <input class="form-control" type="text" name="materno" placeholder="" id="materno" autocomplete="off">
               <label class="text-center"  id="mensajeCaracterInvalidoMaterno" style="color:red; visibility:hidden;">Este campo tiene un caracter invalido</label>
               <br>
               <label class="text-center">Contrase침a:</label>
               <input class="form-control" type="password" name="contra" placeholder="" id="contra" autocomplete="off">
               <label class="text-center"  id="mensajeCaracterInvalidoContra" style="color:red; visibility:hidden;">Este campo tiene un caracter invalido</label>
               <br>
               <label class="text-center">Repetir Contrase침a:</label>
               <input class="form-control" type="password" name="contra2" placeholder="" id="contra2" autocomplete="off">
               <label class="text-center"  id="mensajeCaracterInvalidoContraRepe" style="color:red; visibility:hidden;">Este campo tiene un caracter invalido</label>
               <br>
               <label class="text-center">Subir nueva foto de perfil:</label>
               <input class="form-control" type="file" name="foto" id="foto" accept="image/png, image/jpeg">
               <br>
               <img id="imagen" name="imagen" src="" alt="No tienes una foto de perfil" height="100" width="100">
               <input type="hidden" id="foto_data" name="foto_data" value="">
               <div class="col">
                 <br>
                 <button class= "btn btn-success btn-md btn-block " type="submit" id="btn-changeUserData" name="btn-changeUserData" >Modificar datos</button>
               </div>
             </form>
             <br>
           </div>
        </main>
        <div class="col-md-2"></div>
        {{> amigos}}
    </div>
</div>
{{> footer}}

<script src="js/validarIndex.js"></script>
<script src="js/getUserData.js"></script>
<script src="js/uploadFile.js"></script>
{{> librerias}}
