{{> head}}
<div class="mx-auto col-md-6" >
    <div class=" text-center">
        <img src="imagenes/error.png">
        <p>{{mensaje}}</p>
        <a href="/">Regresar a Login</a>
    </div>
</div>
{{> librerias}}