{{> head}}
<div class="mx-auto col-md-4">
    <div class="card card-body text-center">
        <p>{{mensaje}}</p>
        <a href="/">Regresar a Login</a>
    </div>
</div>
{{> footer}}
{{> librerias}}