{{> head}}
{{> navbar}}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <main class="main principal columna col-sm-12 col-md-8">
          <div id="htmlToChange">
             <h1 class="text-center">Buscar Amigos</h1>
             <br>
             <input class="form-control" type="text" name="amigo" placeholder="Username" id="amigo">
             <label class="text-center"  id="mensajeCaracterInvalido" style="color:red; visibility:hidden;">Este campo tiene un caracter invalido</label>
             <div class="text-center" id="tabla">
            </div>
          </div>
        </main>
        <div class="col-md-2"></div>
        {{> amigos}}
    </div>
</div>
{{> footer}}
<script src="js/validarIndex.js"></script>
<script src="js/searchFriend.js"></script>
{{> librerias}}
