{{> head}}
{{> navbar}}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <main class="main principal columna col-sm-12 col-md-8">
          <div id="htmlToChange">
             <h1 class="text-center">Tus Amigos</h1>
             <div class="text-center" id="tabla">
            </div>
          </div>
        </main>
        <div class="col-md-2"></div>
        {{> amigos}}
    </div>
</div>
{{> footer}}
<script src="js/myFriends.js"></script>
{{> librerias}}
