{{> head}}
{{> navbar}}
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <main class="main principal columna col-sm-12 col-md-10">
      <div id="htmlToChange">
        <div class="widget nueva_entrada">
          <br>
          <h3 class="titulo" style="text-align: center;">TOP 7, Lo mejor de lo mejor</h3>
          <br>
          <div id="top7-table">
          </div>
        </div>
      </div>
    </main>
    <div class="col-1"></div>
    {{> amigos}}
  </div>
</div>

{{> footer}}
{{> librerias}}