{{> head}}
{{> navbar}}

<div class="container-fluid">
    <div class="row">
        <main class="main principal columna col-sm-12 col-md-10">
          <div id="htmlToChange">
            <div class="widget nueva_entrada">
                <h3 class="titulo">Videos</h3>
            </div>
          </div>
        </main>
        {{> amigos}}
    </div>
</div>
{{> footer}}
{{> librerias}}
