{{> head}}
{{> navbar}}

<div class="container-fluid">
    <div class="row">
        <main class="main principal columna col-sm-12 col-md-10">
          <div id="htmlToChange">
            <div class="widget nueva_entrada">
                <h3 class="titulo">TOP 7, Lo mejor de lo mejor</h3>
                <table style="width:100%"  id="top7-table">
                  <tr>
                    <th>Nombre usuario</th>
                    <th>Puntos</th>
                    <th>Foto</th>
                  </tr>
                </table>
            </div>
          </div>
        </main>
        {{> amigos}}
    </div>
</div>
{{> footer}}
{{> librerias}}
